<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} 课程课件 {% endblock %}
{% block body %}
    <!--主体开始-->
    {% load staticfiles %}
    <link rel="stylesheet" href="{%  static 'base/css/Course.css'%} ">
	<div class="container">
		<div class="row mainBox">
			<div class="leftBox col-xs-8 col-md-8 col-lg-8">

                <ul class="page_">
                    {% for course in page_course.object_list %}
					<li class="pageGroup">
						<a href="{{course.get_absolute_url}}">
							<div class="mContent">
								<h3>&nbsp;&nbsp;{{ course.title }}</h3>
								<p>
									{{ course.course_intro }}
								</p>
								<div class="pageBottom">
									<span>阅读(&nbsp;{{course.reading_quantity}}&nbsp;)</span>
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
{#				<ul class="Pagination_">#}
{#					<li><a href="#" alt="1">&lt;</a></li>#}
{#					<li><a href="#" alt="2">1</a></li>#}
{#					<li><a href="#" alt="3">2</a></li>#}
{#					<li><a href="#" alt="4">3</a></li>#}
{#					<li><a href="#" alt="5">4</a></li>#}
{#					<li><a href="#" alt="6">5</a></li>#}
{#					<li><a href="#" alt="6">6</a></li>#}
{#					<li><a href="#" alt="7">&gt;</a></li>#}
{#				</ul>#}
                <hr/>
                  当前页:{{page_course.number}}&nbsp;&nbsp;&nbsp;
                  <a href="?page=1">首页 </a>
                  {% if page_course.has_previous %}
                    &nbsp;
                    <a href = "?page={{page_course.previous_page_number}}"> 上一页 </a>
                  {% endif %}
                  {% if page_course.has_next %}
                    &nbsp;
                    <a href = "?page={{page_course.next_page_number}}"> 下一页 </a>
                  {% endif %}
                  &nbsp;<a href="?page={{paginator.num_pages}}"> 末页 </a>
                <hr/>
			</div>
			<div class="rightBox col-xs-4 col-md-4 col-lg-4">
				<div class="rContent">
					{% for course in hotest_list %}
{#                        <p>11</p>#}
                        <p><a href="{{course.get_absolute_url}}">&nbsp;&nbsp;{{course.title}} </a></p>
                    {% endfor %}
				</div>
				<div class="hotestPage"><div>最热文章</div></div>
			</div>
		</div>
	</div>
{% endblock body %}
</html>